<div class="container">
    <div>
        <button mat-raised-button (click)="increment(1)">Increment by 1</button>
        <button mat-raised-button (click)="increment(2)">Increment by 2</button>
        <button mat-raised-button (click)="decrement(1)">Decrement by 1</button>
        <button mat-raised-button (click)="decrement(2)">Decrement by 2</button>
    </div>
    <div>
        <h2>Current Count: {{ count$ | async }}</h2>
        <h2>Result variable: {{ result }}</h2>
    </div>
    <div>
        <button mat-raised-button (click)="selectBySimpleSelector()">simpleSelect</button>
        <button mat-raised-button (click)="selectByParametrizedSelector(2)">selectByAmount(2)</button>
        <button mat-raised-button (click)="reset()">Reset Counter</button>
    </div>
</div>