button {
    margin: 5px;
    background: #777ec6;
    color: white;
    font-weight: bold;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 5px;
    display: inline-block;
    margin: 10px 5px;
}

h2:last-of-type {
    margin-left: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
}
